<app-catalog>
    <div class="hlt-catalog-index-header">
        <h1>HLT Run Summary</h1>
    </div>
    <div class="hlt-catalog-index-body">
        <div class="x-input-label">Run Number</div>
        <input [(ngModel)]="form.getField('run').value" class="x-query-box" id="inputQuery" placeholder="Query"
               type="text">
        <div class="x-input-description">Input a run number.</div>
    </div>
    <div class="hlt-catalog-index-footer">
        <button (click)="submit()" class="x-submit-button">Submit</button>
    </div>
    <div *ngIf="runNumber && runNumber.length > 0" class="hlt-catalog-card x-output-container">
        <h1>Run Number: {{runNumber}}</h1>
        <p>{{startTime}} - {{stopTime}}</p>
        <p>{{achitecture}}</p>
        <div *ngFor="let config of hltConfig">
            <p>{{config}}</p>
        </div>

        <div style="height:1px; width: 80%; background:#000000; margin-bottom:25px;"></div>
        <div *ngFor="let path of hltPaths">
            <h3>
                <a (click)="pathRedirect(path.name);">{{path.name}}</a>
            </h3>
            <div style="margin-left:25px;">
                <h6 style="display: inline">Description:</h6> {{path.description || 'None found'}} <br>
                <h6 style="display: inline">Seed Expression:</h6> {{path.seed_expression || 'None found'}} <br>
            </div>
            <br>
        </div>
    </div>
</app-catalog>
