<div class="hlt-panel-root p-0">
    <main class="hlt-panel-body ui-fluid">
        {{dialogConfig.data.message}}
    </main>
    <footer class="hlt-panel-footer" style="margin-top: 15px; text-align: right;">
        <button (click)="close(option.value)" *ngFor="let option of dialogConfig.data.options" class="hlt-button"
                style="width: 125px; margin-left: 10px">
            {{option.label}}
        </button>
    </footer>
</div>
