<ng-template #defaultItemTemplate let-item>
    {{item.data[bindLabel]}}
</ng-template>

<div class="hlt-fill-parent x-list-wrapper">
    <div class="x-list">
        <main class="x-list-body">
            <ng-container *ngIf="loading">
                <div class="x-list-empty-message hlt-fill-parent">
                    <div class="x-list-loading">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!loading">
                <ul *ngIf="items.length > 0" class="list-unstyled">
                    <ng-container *ngFor="let item of items">
                        <li (click)="onToggle(item)" [class.selected]="item.selected">
                            <ng-template [ngTemplateOutletContext]="{$implicit: item}"
                                         [ngTemplateOutlet]="itemTemplate || defaultItemTemplate"></ng-template>
                        </li>
                    </ng-container>
                </ul>
                <div *ngIf="items.length === 0" class="x-list-empty-message hlt-fill-parent">
                    No results...
                </div>
            </ng-container>
        </main>
        <footer class="x-list-footer">
            <p-paginator (onPageChange)="onLoad($event)" [rows]="rows" [totalRecords]="totalRecords">
            </p-paginator>
        </footer>
    </div>
</div>
