@import "../../../constants.less";

:host /deep/ .ui-paginator {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.x-list-wrapper {
  display: flex;
  flex-direction: column;
}

.x-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-style: solid;
  border-width: thin;
  border-color: @hlt-panel-outline-color;
  border-radius: 2px;
}

.x-list-body {
  flex-grow: 1;
  overflow-y: auto;
  color: black;
  background: white;
  height: 150px;
  min-height: 150px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.x-list-loading {
  margin: 0;
  position: relative;
  top: 50%;
  text-align: center;
}

.x-list-empty-message {
  padding: 5px;
  font-size: 1.1rem;
  border-color: @hlt-panel-outline-color;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.x-list-body ul {
  border-color: rgb(166, 166, 166);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}

.x-list-body ul li {
  background: rgb(245, 245, 245);
  padding: @hlt-small-gap-size;
  border-style: solid;
  border-width: 0;
  border-bottom-width: thin;
  border-color: @hlt-panel-outline-color;
}

.x-list-body ul li:hover {
  background: lighten(rgb(245, 245, 245), 15%);
  color: black;
}

.x-list-body ul li:active {
  background: darken(rgb(250, 250, 250), 15%);
  color: black;
}

.x-list-body ul li.selected {
  background: @hlt-selection-background;
  color: @hlt-selection-color;
}

.x-list-body ul li.selected:hover {
  background: lighten(@hlt-selection-background, 15%);
  color: @hlt-selection-color;
}

.x-list-body ul li.selected:active {
  background: darken(@hlt-selection-background, 15%);
  color: @hlt-selection-color;
}

.x-list-footer {
  flex-grow: 0;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
