<div class="hlt-view">
    <ng-container *ngIf="datasetData">
        <header class="hlt-view-header" style="height: auto">
            <h1 class="text-left mb-3">{{datasetData.name}}</h1>
            <div class="pt-2" style="max-height: 175px; overflow-y: auto">
                <span *ngFor="let tag of tags;" [ngClass]="{'bg-primary': !tag, 'text-light': !tag}"
                      [style]="{'background': tag ? tag.background : undefined, 'color': tag ? tag.color : undefined}"
                      class="badge mr-1" style="position: relative; top: 0; left: 0; transform: translateY(-25%)">
                    <ng-container *ngIf="isMaintainer">
                        {{tag ? tag.name : 'Add new Tag'}}

                        <button (click)="onSearchByTag(tag.name)" *ngIf="tag"
                                class="hlt-icon-button material-icons md-light md-12"
                                pTooltip="All datasets with this tag"
                                style="height: 12px; width: 12px">
                            list
                        </button>

                        <button (click)="onRemoveTag(tag)" *ngIf="tag"
                                class="hlt-icon-button material-icons md-light md-12"
                                pTooltip="Remove"
                                style="height: 12px; width: 12px">
                            clear
                        </button>

                        <button (click)="onAddTag()" *ngIf="!tag" class="hlt-icon-button material-icons md-light md-12"
                                pTooltip="Add"
                                style="height: 12px; width: 12px">
                            add
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!isMaintainer">
                        {{tag?.name || 'Clean'}}
                    </ng-container>
                </span>
            </div>
        </header>
        <main style="padding-bottom: 15px">
            <div class="mb-4">
                <div class="mb-2">
                    <h3>Summaries</h3>
                    Effective Luminosity corresponds to the max effective luminosity measured for a given path in the
                    dataset for that period.
                </div>
                <div *ngIf="sumaries.length > 0"
                     style="display: grid; grid-template-columns: repeat(3, 175px); grid-column-gap: 5px; grid-row-gap: 5px;">
                    <a *ngFor="let summary of sumaries"
                       [queryParams]="{ sMethod: 'dataset', sDataset: datasetData.name}"
                       [routerLink]="'/summaries/prescales'"
                       [style]="{'background': summary ? summary.background : undefined, 'color': summary ? summary.color : undefined}"
                       class="x-summary-card"
                       target="_blank">
                        <b>{{summary.year}} Summary</b><br>
                        Eff: {{summary.intlumi.effective.toFixed(2)}} fb<sup>-1</sup>
                    </a>
                </div>
                <div *ngIf="sumaries.length === 0" class="hlt-placeholder" style="height: 150px">
                    This dataset doesn't have any summaries, it will probably be removed by the hlt automation service
                    in the future.
                </div>
            </div>

            <div class="mb-4">
                <div class="mb-2">
                    <h3>HLT Paths</h3>
                    Effective Luminosity corresponds to the actual luminosity divided by the prescale value at each
                    lumisection.
                </div>
                <div *ngIf="pathsTable.data.length > 0"
                     style="max-height: 250px; overflow-y: auto; overflow-x: hidden; padding-right: 5px">
                    <p-table [columns]="pathsTable.fields" [resizableColumns]="true" [responsive]="true"
                             [scrollable]="true" [value]="pathsTable.data" columnResizeMode="fit">
                        <ng-template let-columns pTemplate="colgroup">
                            <colgroup>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <col *ngSwitchDefault>
                                    </ng-container>
                                </ng-container>
                            </colgroup>
                        </ng-template>
                        <ng-template let-columns pTemplate="header">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <th pResizableColumn>
                                        {{col.header}}
                                    </th>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template let-columns="columns" let-row pTemplate="body">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <td class="ui-resizable-column">
                                        <ng-container [ngSwitch]="col.field">
                                            <ng-container *ngSwitchCase="'intlumi_actual'">
                                                {{row[col.field].toFormat(2)}}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'intlumi_effective'">
                                                {{row[col.field].toFormat(2)}}
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{row[col.field]}}
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div *ngIf="pathsTable.data.length === 0" class="hlt-placeholder" style="height: 150px">
                    This dataset doesn't have any paths, it will probably be removed by the hlt automation service in
                    the future.
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="flex-grow-1">
                    <h3>Comments</h3>
                </div>
                <div class="flex-grow-0">
                    <button (click)="onUpdate()" *ngIf="isMaintainer"
                            class="hlt-icon-button material-icons md-dark md-24"
                            pTooltip="Edit">
                        edit
                    </button>
                </div>
            </div>
            <div class="hlt-console mt-2" style="height: 250px">
                {{datasetData.comments || 'There aren\'t any comments.'}}
            </div>
        </main>
    </ng-container>
    <ng-container *ngIf="!datasetData">
        <header class="hlt-view-header hlt-placeholder"></header>
        <main class="hlt-p-full-height hlt-placeholder"></main>
    </ng-container>
</div>
