<ng-container
        *ngIf="session.cache.getItem(componentId + '.indexView') === 'catalog' || !session.cache.getItem(componentId + '.indexView')">
    <app-catalog>
        <div class="hlt-catalog-index-header d-flex flex-row">
            <button (click)="dataset = null; session.cache.setItem(componentId + '.indexView', 'table')"
                    class="flex-grow-0 hlt-icon-button material-icons md-light md-24 mr-2"
                    pTooltip="Table View" style="color: gold; height: 32px; width: 32px">
                table_view
            </button>

            <div class="flex-grow-1">
                <h1>HLT Dataset</h1>
            </div>
        </div>

        <div class="hlt-catalog-index-body d-flex flex-column">
            <div class="flex-grow-0 mb-2">
                <h6 class="mb-1" style="color: white">Search Method</h6>

                <div class="d-flex flex-row">
                    <div class="flex-grow-1">
                        <p-dropdown [(ngModel)]="searchMethod" [options]="searchMethods"
                                    [style]="{width: '100%'}"
                                    name="searchMethod">
                        </p-dropdown>
                    </div>
                    <button (click)="refreshIndex()" class="hlt-icon-button flex-grow-0 material-icons md-light md-24"
                            pTooltip="Search" style="height: 100%">
                        search
                    </button>
                </div>
            </div>

            <div class="flex-grow-0 mb-2">
                <ng-container [ngSwitch]="searchMethod">
                    <ng-container *ngSwitchCase="0">
                        <h6 class="mb-1" style="color: white">Query</h6>
                        <input [(ngModel)]="searchForms[0].getField('query').value" class="x-query-box"
                               placeholder="Query"
                               style="width: 100%" type="text">
                        <div class="x-input-description">You can use '*' as wild cards, e.g. emtf*, *mu*,
                            *some*compli*stuff*
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="1">
                        <h6 class="mb-1" style="color: white">Tag</h6>
                        <input [(ngModel)]="searchForms[1].getField('tag').value" class="x-query-box" placeholder="Tag"
                               style="width: 100%" type="text">
                        <div class="x-input-description">Please input a full tag.
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <app-list (lazyLoad)="refreshIndex($event)" [(ngModel)]="dataset" [bindLabel]="'name'" [bindValue]="'id'"
                      [items]="datasets"
                      [loading]="datasetsLoading" [rows]="50" [style]="{'flex-grow': '1'}"
                      [totalRecords]="datasetsTotalRecords">

            </app-list>
        </div>

        <div class="hlt-catalog-card">
            <app-dataset-view (update)="refreshSelected()" [datasetData]="datasetData"></app-dataset-view>
        </div>
    </app-catalog>
</ng-container>

<!-- SO IT BEGINS, THE TABLE IS HERE ------------------------------------------------------------------------------>

<ng-container *ngIf="session.cache.getItem(componentId + '.indexView') === 'table'">
    <div *ngIf="!dataset" class="hlt-panel-root" style="height: 100%">
        <header class="hlt-panel-header d-flex flex-row">
            <button (click)="session.cache.setItem(componentId + '.indexView', 'catalog')"
                    class="flex-grow-0 hlt-icon-button material-icons md-light md-24 mr-2"
                    pTooltip="List View" style="color: darkgoldenrod; height: 32px; width: 32px">
                view_list
            </button>

            <div class="flex-grow-1">
                <h1>HLT Datasets</h1>
            </div>
        </header>

        <div class="hlt-panel-body d-flex flex-column" style="height: 100%">
            <div class="mb-2 d-flex flex-column">
                <div class="mb-2 flex-grow-0 d-flex flex-row">
                    <h6 class="mr-2" style="margin-top: auto; margin-bottom: auto; margin-left: 0;">Search Method</h6>
                    <div class="d-flex flex-row">
                        <div class="flex-grow-1">
                            <p-dropdown [(ngModel)]="searchMethod" [options]="searchMethods"
                                        [style]="{width: '100%'}"
                                        name="searchMethod">
                            </p-dropdown>
                        </div>
                        <button (click)="refreshIndex()"
                                class="hlt-icon-button flex-grow-0 material-icons md-dark md-24"
                                pTooltip="Search" style="height: 100%">
                            search
                        </button>
                    </div>
                </div>
                <div class="flex-grow-0">
                    <ng-container [ngSwitch]="searchMethod">
                        <ng-container *ngSwitchCase="0">
                            <div class="flex-grow-0 d-flex flex-row">
                                <h6 class="mr-4" style="margin-top: auto; margin-bottom: auto; margin-left: 0;">
                                    Query</h6>
                                <div class="flex-grow-1 d-flex flex-column">
                                    <input [(ngModel)]="searchForms[0].getField('query').value" class="x-query-box"
                                           placeholder="Query" style="width: 100%" type="text">
                                    <div class="x-input-description">You can use '*' as wild cards, e.g. emtf*, *mu*,
                                        *some*compli*stuff*
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngSwitchCase="1">
                            <div class="flex-grow-0 d-flex flex-row">
                                <h6 class="mr-4" style="margin-top: auto; margin-bottom: auto; margin-left: 0;">
                                    Tag</h6>
                                <div class="flex-grow-1 d-flex flex-column">
                                    <input [(ngModel)]="searchForms[1].getField('tag').value" class="x-query-box"
                                           placeholder="Tag" style="width: 100%" type="text">
                                    <div class="x-input-description">Please input a full tag.</div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="hlt-p-full-height">
                <p-table (onLazyLoad)="refreshIndex($event)" [columns]="datasetsTable.fields" [lazy]="true"
                         [loading]="datasetsLoading"
                         [paginator]="true" [resizableColumns]="true" [responsive]="true" [rows]="50"
                         [scrollable]="true"
                         [totalRecords]="datasetsTotalRecords" [value]="datasetsTable.data" columnResizeMode="fit"
                         sortMode="multiple">
                    <ng-template let-columns pTemplate="colgroup">
                        <colgroup>
                            <ng-container *ngFor="let col of columns">
                                <ng-container [ngSwitch]="col.field">
                                    <col *ngSwitchDefault>
                                </ng-container>
                            </ng-container>
                        </colgroup>
                    </ng-template>
                    <ng-template let-columns pTemplate="header">
                        <tr>
                            <ng-container *ngFor="let col of columns">
                                <th *ngIf="col.sortable" [pSortableColumn]="col.field" pResizableColumn>
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <th *ngIf="!col.sortable" pResizableColumn>
                                    {{col.header}}
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template let-columns="columns" let-row pTemplate="body">
                        <tr>
                            <td *ngFor="let col of columns" class="ui-resizable-column">
                                <ng-container [ngSwitch]="col.field">
                                    <ng-container *ngSwitchCase="'intlumi_actual'">
                                        {{row[col.field].toFormat(2)}}
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'intlumi_effective'">
                                        {{row[col.field].toFormat(2)}}
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'__options__'">
                                        <button (click)="showDetails(row.id)" class="btn" pTooltip="View" type="button">
                                            <i class="material-icons md-dark">preview</i>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        {{row[col.field]}}
                                    </ng-container>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <div *ngIf="!!dataset" class="hlt-catalog-card">
        <button (click)="dataset = null"
                class="flex-grow-0 hlt-icon-button material-icons md-light md-48 mr-2"
                pTooltip="Back to Index"
                style="color: black; height: 48px; width: 48px; position: absolute; x: 48px; y: 48px">
            arrow_back
        </button>

        <app-dataset-view (update)="refreshSelected()" [datasetData]="datasetData"></app-dataset-view>
    </div>
</ng-container>
