@import "../../../../../constants.less";

.x-summary-card {
  box-sizing: border-box;
  background: rgb(250, 250, 250);

  height: 125px;
  min-height: 125px;

  border-radius: 2px;
  border: thin solid @hlt-panel-outline-color;
  padding: 25px;

  text-align: center;
}

.x-summary-card:hover {
  background: rgb(225, 225, 225);
  border: thin solid rgba(225, 225, 225, .85);
}

.x-summary-card:active {
  background: rgb(200, 200, 200);
  border: thin solid rgba(200, 200, 200, 1);
}
