<div class="hlt-fill-parent" style="overflow-y: auto;">
    <div class="hlt-view">
        <header class="hlt-view-header">
            <h1>Service Administration</h1>
        </header>
        <main style="padding-bottom: 15px">
            <h3>Admins</h3>
            CERN Account Username which are allowed to administrate the page.
            <br><br>
            <div class="x-list">
                <div *ngFor="let user of users" class="x-list-item d-flex flex-row">
                    <div style="flex-grow: 1;">
                        <h6 style="display: inline-block">Username</h6> {{user.id}}
                        <br>
                        <h6 style="display: inline-block">Roles</h6>
                        <span *ngFor="let role of user.roles; let index = index">
                            {{(index > 0 ? ', ' : ' ') + role}}
                        </span>
                        <br>
                        <h6 style="display: inline-block">Timestamp</h6> {{user.timestamp}}
                    </div>
                    <div style="flex-grow: 0;">
                        <button (click)="onDeleteUser(user)" aria-label="close" class="hlt-icon-button">
                            <i class="material-icons md-dark md-24">close</i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="text-align: right; margin-top: 10px">
                <button (click)="onCreateUser()" aria-label="close" class="hlt-button" style="width: 125px">
                    Register
                </button>
            </div>

            <hr>

            <h3>Apps</h3>
            Apps are accounts that can be given to scripts so they can access the api.
            <br><br>
            <div class="x-list">
                <div *ngFor="let app of apps" class="x-list-item" style="display: flex; flex-direction: row;">
                    <div style="flex-grow: 1;">
                        <h6 style="display: inline-block">Name</h6> {{app.name}}
                        <br>
                        <h6 style="display: inline-block">Description</h6> {{app.description}}
                        <br>
                        <h6 style="display: inline-block">Secret Key</h6> {{app.secret_key}}
                        <br>
                        <h6 style="display: inline-block">Privileges</h6>
                        <span *ngFor="let privilege of app.privileges; let index = index">
                            {{(index > 0 ? ', ' : ' ') + privilege}}
                        </span>
                        <br>
                        <h6 style="display: inline-block">Timestamp</h6> {{app.timestamp}}
                    </div>
                    <div style="flex-grow: 0;">
                        <button (click)="onDeleteApp(app)" aria-label="close" class="hlt-icon-button">
                            <i class="material-icons md-dark md-24">close</i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="text-align: right; margin-top: 10px">
                <button (click)="onCreateApp()" aria-label="close" class="hlt-button" style="width: 125px">
                    Register
                </button>
            </div>
        </main>
    </div>
</div>
