@import "../../../../../constants.less";

.x-list {
  background: rgb(230, 230, 230);
  overflow-y: auto;

  min-height: 250px;
  max-height: 250px;

  border-radius: 2px;
  border-width: thin;
  border-color: @hlt-panel-outline-color;
  border-style: solid;
}

.x-list-item {
  background: white;

  border-radius: 2px;
  border: thin solid @hlt-panel-outline-color;
  border-right: 0;
  border-left: 0;
  border-top: 0;

  padding: 15px;
}
