<ng-container [ngSwitch]="contentType">
    <ng-container *ngSwitchCase="'string'">
        <div class="hlt-dialog-root">
            <header class="hlt-dialog-header" style="display: flex; flex-direction: row">
                <h1 style="display: inline-block; flex-grow: 1">
                    {{dialogRef.data.title || 'Message'}}
                </h1>
                <button (click)="close()" aria-label="close" class="hlt-icon-button flex-grow-0">
                    <i class="material-icons md-dark md-24">close</i>
                </button>
            </header>
            <main [innerHTML]="content" class="hlt-dialog-body">
            </main>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'template'">
        <ng-container *ngTemplateOutlet="content; context: context"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'component'">
        <ng-container *ngComponentOutlet="content"></ng-container>
    </ng-container>
</ng-container>
