<!--<div class="hlt-catalog">-->
<!--    <ng-container *ngIf="activeIndexView === 'list'">-->
<!--        <div class="hlt-catalog-index">-->
<!--            <header class="hlt-catalog-index-header-root d-flex flex-row">-->
<!--                <button (click)="activeIndexView = 'alternate'" *ngIf="hasAlternateIndexView"-->
<!--                        class="flex-grow-0 hlt-icon-button material-icons md-light md-24 mr-2"-->
<!--                        pTooltip="Table View" style="color: gold; height: 32px; width: 32px">-->
<!--                    table_view-->
<!--                </button>-->

<!--                <div class="flex-grow-1">-->
<!--                    <ng-content select=".hlt-catalog-index-header"></ng-content>-->
<!--                </div>-->
<!--            </header>-->

<!--            <main class="hlt-catalog-index-body-root">-->
<!--                <ng-content select=".hlt-catalog-index-body"></ng-content>-->
<!--            </main>-->

<!--            <footer class="hlt-catalog-index-footer-root">-->
<!--                <ng-content select=".hlt-catalog-index-footer"></ng-content>-->
<!--            </footer>-->
<!--        </div>-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="activeIndexView === 'alternate' && !showCard">-->
<!--        <div class="hlt-panel-root">-->
<!--            <header class="hlt-panel-header d-flex flex-row">-->
<!--                <button (click)="activeIndexView = 'list'"-->
<!--                        class="flex-grow-0 hlt-icon-button material-icons md-light md-24 mr-2"-->
<!--                        pTooltip="List View" style="color: darkgoldenrod; height: 32px; width: 32px">-->
<!--                    view_list-->
<!--                </button>-->

<!--                <div class="flex-grow-1">-->
<!--                    <ng-content select=".hlt-catalog-alternate-header"></ng-content>-->
<!--                </div>-->
<!--            </header>-->

<!--            <div class="hlt-panel-body">-->
<!--                <ng-content select=".hlt-catalog-alternate-body"></ng-content>-->
<!--            </div>-->

<!--            <div class="hlt-panel-footer">-->
<!--                <ng-content select=".hlt-catalog-alternate-footer"></ng-content>-->
<!--            </div>-->
<!--        </div>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="activeIndexView === 'list' || showCard">-->
<!--        <div class="hlt-catalog-card-root">-->
<!--            <ng-content select=".hlt-catalog-card"></ng-content>-->
<!--        </div>-->
<!--    </ng-container>-->
<!--</div>-->

<div class="hlt-catalog">
    <div class="hlt-catalog-index">
        <ng-content select=".hlt-catalog-index-header"></ng-content>
        <ng-content select=".hlt-catalog-index-body"></ng-content>
        <ng-content select=".hlt-catalog-index-footer"></ng-content>
    </div>
    <ng-content select=".hlt-catalog-card"></ng-content>
</div>

