<div id="x-login-container">
    <div id="x-login-form">
        <h1>
            Hi! We need to verify that you belong to CMS.
        </h1>
        <br>
        <h2>
            You will be redirected to CERN's SSO in 5 seconds.
        </h2>
    </div>
</div>
