#x-login-container {
  position: absolute;

  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url('/assets/background/cms.jpg');
}

#x-login-form {
  position: relative;

  background: rgba(255, 220, 220, 0.75);

  display: flex;
  flex-direction: column;
  padding: 25px;

  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;

  border-radius: 2px;
  border-width: thin;
  border-color: rgb(255, 220, 220);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.25rem 0.25rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#x-login-form {

}

#x-login-form {

}
