<app-catalog>
    <div class="hlt-catalog-index-header">
        <h1>Prescale Summary</h1>
    </div>

    <div class="hlt-catalog-index-body d-flex flex-column">
        <div class="flex-grow-0 mb-2">
            <h6 class="mb-1" style="color: white">Search Method</h6>

            <div class="d-flex flex-row">
                <div class="flex-grow-1">
                    <p-dropdown [(ngModel)]="searchMethod" [options]="searchMethods"
                                [style]="{width: '100%'}"
                                name="searchMethod">
                    </p-dropdown>
                </div>
                <button (click)="submit()" class="hlt-icon-button flex-grow-0 material-icons md-light md-24"
                        pTooltip="Search" style="height: 100%">
                    search
                </button>
            </div>
        </div>

        <div class="flex-grow-0 mb-2">
            <ng-container [ngSwitch]="searchMethod">
                <ng-container *ngSwitchCase="0">
                    <h6 class="mb-1" style="color: white">Dataset</h6>
                    <input [(ngModel)]="searchForms[0].getField('dataset').value" class="x-query-box"
                           placeholder="Dataset"
                           style="width: 100%" type="text">
                    <div class="x-input-description">Input the Full Name of a Dataset.
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="1">
                    <h6 class="mb-1" style="color: white">Path</h6>
                    <input [(ngModel)]="searchForms[1].getField('path').value" class="x-query-box" placeholder="Path"
                           style="width: 100%" type="text">
                    <div class="x-input-description">Input the Full Name of a Path.
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="hlt-catalog-card">
        <ng-container *ngIf="summary && isEmpty">
            <div class="hlt-fill-parent d-flex flex-column">
                <div class="flex-grow-0">
                    <h1>
                        Our dino is sad because it couldn't find any information regarding your dataset...
                    </h1>
                </div>
                <div class="flex-grow-1">
                    <img alt="No data available"
                         src="/assets/funny/sad_dino.png"
                         style="position:relative; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="summary && !isEmpty">
            <h1 class="mb-4">{{summary.title}} (Y: {{summary.year}})</h1>

            <h3 style="margin:auto; text-align:center;"> Trigger State vs Integrated Luminosity</h3>

            <div class="mb-2">
                <div *ngFor="let object of timeBricks.rects; let i = index" style="max-height: 16px">
                    <div class="x-brick-plot-label" pTooltip="{{this.timeBricks.objectNameFromIndex[i]}}"
                         style="display: inline-block;"
                         tooltipStyleClass="x-brick-tooltip">
                        {{this.timeBricks.objectNameFromIndex[i]}}
                    </div>

                    <div class="x-brick-strip" style="display: inline-block; width:85%; line-height: 0">
                        <div *ngFor="let rect of object"
                             [ngStyle]="{display:'inline-block', height:'16px', width:rect[0], background:rect[1]}">
                        </div>
                    </div>
                </div>
            </div>

            <div style="width:100%; background: #fff;">
                <div class="text-right mb-2" style="height: 16px">
                    <div *ngFor="let lumiLabel of timeBricks.lumiAxis"
                         [ngStyle]="{display:'inline-block', width:lumiLabel[0]}">
                        {{lumiLabel[1]}}
                    </div>
                </div>

                <div class="text-center">
                    Integrated Luminosity (fb^-1)
                </div>
            </div>

            <h2 style="margin-top:50px;">Prescales and Lumisection Ranges</h2>
            You can download a JSON containing all the lumisections regarding a prescale value, by clicking on
            the download link next to the prescale value. Or you can use the panel on the right, to merge various
            prescaled objects and download the overlapped lumisection ranges.
            <br><br>

            <div class="d-flex flex-row" style="height: 250px;">
                <div style="overflow-y: auto; flex-grow: 1; width: 50%; padding-right: 5px">
                    <div *ngFor="let object of summary.objects" class="pb-2">
                        <h3 style="cursor:pointer">{{object.name}}</h3>

                        <div *ngFor="let entry of object.prls" class="d-flex flex-row"
                             style="height: 45px; line-height: 45px">
                            <div class="d-inline-block flex-grow-1">
                                <button (click)="saveRLS(object.name, entry)"
                                        class="align-middle hlt-icon-button material-icons md-light md-24 mr-2"
                                        pTooltip="Download" style="color: darkblue; height: 36px; width: 36px">
                                    download
                                </button>

                                <h6 class="align-middle" style="display: inline-block">Prescale: {{entry.prescale}}
                                    (A: {{entry.actual_intlumi.toFixed(2)}} fb<sup>-1</sup>,
                                    E: {{entry.effective_intlumi.toFixed(2)}} fb<sup>-1</sup>)
                                </h6>
                            </div>

                            <div class="d-inline-block">
                                <button (click)="addObjectToMergeTool(object.name, entry)"
                                        class="align-middle hlt-icon-button material-icons md-light md-24 mr-2"
                                        pTooltip="Add to Merge Tool" style="color: darkblue; height: 36px; width: 36px">
                                    arrow_right
                                </button>
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>

                <div class="d-flex flex-column ml-2" style="flex-grow: 1; width: 50%;">
                    <div style="overflow-y: auto; flex-grow: 1; background: lightgray; border-style: solid; border-color: grey">
                        <div *ngFor="let entry of mergeToolObjects" class="d-flex flex-row mb-2"
                             style="height: 45px; line-height: 45px">
                            <div class="d-inline-block flex-grow-1">
                                <h3 style="cursor:pointer">{{entry.name}}</h3>
                                <h6>
                                    Prescale: {{entry.prescale}}
                                    (A: {{entry.actual_intlumi.toFixed(2)}} fb<sup>-1</sup>,
                                    E: {{entry.effective_intlumi.toFixed(2)}} fb<sup>-1</sup>)
                                </h6>
                            </div>

                            <div class="d-inline-block">
                                <button (click)="removeObjectFromMergeTool(entry.name)"
                                        class="align-middle hlt-icon-button material-icons md-light md-24 mr-2"
                                        pTooltip="Add to Merge Tool" style="color: red; height: 36px; width: 36px">
                                    clear
                                </button>
                            </div>
                        </div>
                    </div>

                    <button (click)="mergeObjects()" class="hlt-button mt-2">
                        Generate/Download Merged Output
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</app-catalog>
