/deep/ .ui-tooltip-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 250px;
}

.x-input-label {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.x-input-description {
  font-size: 1rem;
  margin-top: 5px;
}

.x-query-box {
  -webkit-appearance: none;

  color: #555555;
  font-size: 1.25rem;
  background: #FFFFFF;

  width: 100%;
  height: 50px;

  border: none;
  border-radius: 2px;
  border-bottom: 2px solid black;

  cursor: text;
}

.x-submit-button {
  -webkit-appearance: none;

  width: 100%;

  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  background: rgb(250, 250, 250);
  padding: 5px;

  border: none;
  border-radius: 2px;
  border: 2px solid rgba(49, 49, 49, 255);

  cursor: pointer;
}

.x-submit-button:hover {
  filter: brightness(125%);
}

.x-submit-button:active {
  filter: brightness(85%);
  color: rgb(255, 255, 255);
}

.x-output-container {
  overflow-y: auto;
}

.x-brick-strip {
  background: repeating-linear-gradient(45deg, #B8B8B8, #B8B8B8 20px, #AAAAAA 20px, #AAAAAA 40px);
}

.x-brick-plot-label {
  width: 15%;
  height: 16px;
  background: #FFFFFF;
  float: left;
  font-size: 7px;
  padding-top: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
