<p-blockUI [autoZIndex]="false" [blocked]="uiControl.screenLocked"></p-blockUI>

<p-toast [autoZIndex]="false"></p-toast>

<!-- SIDEBAR -->
<p-sidebar [(visible)]="sidebarToggle.on" [autoZIndex]="false" [showCloseIcon]="false">
    <header class="hlt-panel-header" id="sidebar-header">
        <h4><strong>Menu</strong></h4>
    </header>

    <main id="sidebar-main">
        <ul class="list-unstyled">
            <li>
                <a [routerLink]="['/runs/summary']">
                    <h4>Run Summary</h4>
                    Find active triggers and run summary for a given run.
                </a>
            </li>
            <li>
                <a [routerLink]="['/datasets']">
                    <h4>Datasets</h4>
                    Dataset Catalog.
                </a>
            </li>
            <li>
                <a [routerLink]="['/paths']">
                    <h4>Paths</h4>
                    Path Catalog.
                </a>
            </li>
            <li>
                <a [routerLink]="['/seeds']">
                    <h4>Seeds</h4>
                    Seed Catalog.
                </a>
            </li>
            <li>
                <a [routerLink]="['/summaries/prescales']">
                    <h4>Prescales</h4>
                    Prescale Summaries
                </a>
            </li>
            <li *ngIf="isAdmin">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#admin-menu">
                    <h4>Administration</h4>
                </a>
                <ul class="collapse list-unstyled" id="admin-menu">
                    <li>
                        <a [routerLink]="['/security/admin']">
                            <h4>Admin Panel</h4>
                            Administrate users and apps.
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </main>

    <!--    <footer class="hlt-panel-footer" id="sidebar-footer">-->
    <!--        <button (click)="onLogout()" class="btn btn-primary" type="button">-->
    <!--            <strong>Finalizar Sessión</strong>-->
    <!--        </button>-->
    <!--    </footer>-->
</p-sidebar>

<!-- APPLICATION -->
<header>
    <nav class="mb-2" id="navbar">
        <div id="nav-left-container">
            <button (click)="sidebarToggle.toggle();" *ngIf="authenticated"
                    class="btn btn-outline-dark btn-sm mr-1" id="sidebar-toggle" type="button">
                <i class="material-icons md-light md-24">menu</i>
            </button>

            <a [routerLink]="['/']" class="text-light" id="brand">{{title}}</a>
        </div>
        <div *ngIf="isCatalogView" id="nav-right-container" style="float:right;">
            <p-dropdown [(ngModel)]="yearSelected"
                        [options]="[{label:'2016', value: 2016}, {label:'2017', value: 2017}, {label:'2018', value: 2018}]"
                        [style]="{'minWidth':'100px', 'width': '100px'}"
                        id="year-select"
                        name="year-selection">
            </p-dropdown>

            <a pTooltip="Specifies the year for all search queries."
               style="font-size:1.5rem; padding-top:.25em; color:#FFFFFF; padding-right:.5em; ">Year</a>
        </div>
    </nav>
</header>

<main id="app-body">
    <router-outlet></router-outlet>
</main>


