@import "../constants.less";

@app-navbar-height: 60px;
@app-navbar-brand-fsize: 2.2rem;
@app-sidebar-width: 20vw;
@app-sidebar-header-height: 2.5rem;
@app-sidebar-header-fsize: 1.7rem;
@app-body-width: 100vw;
@app-body-height: calc(100vh - @app-navbar-height);

#navbar {
  position: absolute;
  top: 0;
  left: 0;

  background: rgb(0, 0, 0);

  box-sizing: border-box;


  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: @app-navbar-height;
  min-height: @app-navbar-height;
  max-height: @app-navbar-height;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: @zindex-navbar;

  padding: 5px;
}

#nav-left-container {
  display: inline-flex;
  flex-direction: row;
}

#nav-right-container {
  display: inline-flex;
  flex-direction: row-reverse;
  text-align: right;
  padding-right: 1em;
}

#brand {
  position: relative;

  margin-top: auto;
  margin-bottom: auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: @app-navbar-brand-fsize;
  text-decoration: none;
}

#app-body {
  box-sizing: border-box;

  position: absolute;
  top: @app-navbar-height;
  left: 0;

  display: block;
  width: @app-body-width;
  min-width: @app-body-width;
  max-width: @app-body-width;
  height: @app-body-height;
  min-height: @app-body-height;
  max-height: @app-body-height;

  background: rgb(255, 255, 255);

  overflow-x: hidden;
  overflow-y: hidden;
}

#year-select {

  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: #AAAAAA;
  font-size: 1.5rem;
  padding-top: .25em;
  cursor: pointer;
}


////////////////////////////////////////////////////////////////////////////////
// SIDEBAR TOGGLE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

#sidebar-toggle {
  display: inline-block;
  padding: 5px;
  background: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

#sidebar-toggle:focus {
  outline: none;
}

#sidebar-toggle:hover {
  background: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}

#sidebar-toggle i {
  vertical-align: bottom;
  font-size: @app-navbar-brand-fsize;
}

////////////////////////////////////////////////////////////////////////////////
// SIDEBAR /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.ui-sidebar {
  position: fixed;
  top: @app-navbar-height;
  display: flex;
  flex-direction: column;
  height: @app-body-height !important;
  min-height: @app-body-height !important;
  max-height: @app-body-height !important;
  width: @app-sidebar-width !important;
  min-width: @app-sidebar-width !important;
  max-width: @app-sidebar-width !important;
  z-index: @zindex-sidebar !important;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: @hlt-small-gap-size;
}

#sidebar.active {
  left: 0;
}

#sidebar-header {
  flex-grow: 0;
}

#sidebar-header h4 {
  vertical-align: middle;
  font-size: @app-sidebar-header-fsize;
}

#sidebar-main {
  flex-grow: 1;
  height: 0;
}

#sidebar-main ul.components {
  padding: 10px 0;
}

#sidebar-footer {
  flex-grow: 0;
}

p-sidebar ul li a {
  padding: 5px 5px 10px 15px;
  padding-left: 20px;
  text-decoration: none;
  display: block;
}

p-sidebar ul li a:hover {
  background-color: @hlt-selection-background;
  color: @hlt-selection-color;
}

p-sidebar ul li a:hover h4 {
  color: @hlt-selection-color;
}

p-sidebar ul li ul li a:hover {
  background-color: darken(@hlt-selection-background, 10%);
}

p-sidebar ul li ul li ul li a:hover {
  background-color: darken(@hlt-selection-background, 20%);
}

p-sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: @hlt-selection-background;
  color: @hlt-selection-color;
}

p-sidebar ul li.active > a, a[aria-expanded="true"] h4 {
  color: @hlt-selection-color;
}

p-sidebar ul ul a {
  padding-left: 3em !important;
}

p-sidebar ul ul ul a {
  padding-left: 5.5em !important;
}

p-sidebar a[data-toggle="collapse"] {
  position: relative;
}

p-sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
