<form (ngSubmit)="submit()" class="hlt-panel-root p-0" style="min-width: 500px">
    <main class="hlt-panel-body ui-fluid">
        <app-form [model]="formModel"></app-form>
    </main>
    <footer class="hlt-panel-footer" style="margin-top: 15px; text-align: right;">
        <button class="hlt-button" style="width: 125px; margin-left: 10px" type="submit">
            Submit
        </button>
    </footer>
</form>
