// ZINDEX
@zindex-dropdown: 1000;
@zindex-glass-pane: 1010;
@zindex-sticky: 1020;
@zindex-fixed: 1030;
@zindex-sidebar: 1035;
@zindex-navbar: 1035;
@zindex-modal-backdrop: 1040;
@zindex-modal: 1050;
@zindex-screen-lock: 1055;
@zindex-toast: 1056;
@zindex-popover: 1060;
@zindex-tooltip: 1070;

/* COLORS */
@hlt-main-color: #003a85;

/* UTILS */
@hlt-form-page-width: 45vw;
@hlt-form-page-height: 90%;
@hlt-sidebar-hover-color: rgb(220, 220, 220);
@hlt-panel-background: rgb(255, 255, 255); // rgb(245, 245, 245);
@hlt-panel-border-color: rgba(91, 105, 135, 0.25);
@hlt-panel-outline-color: rgba(190, 190, 250, 0.65);
@hlt-selection-background: rgb(0, 122, 217);
@hlt-selection-color: rgb(255, 255, 255);
@hlt-small-gap-size: 5px;
@hlt-medium-gap-size: 10px;
@hlt-big-gap-size: 15px;
