@import '~@angular/cdk/overlay-prebuilt.css';
@import "./constants.less";

////////////////////////////////////////////////////////////////////////////////
// BASIC ///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.05rem;
  color: rgb(0, 0, 25);
}

hr {
  border-color: @hlt-panel-outline-color;
  margin-top: @hlt-medium-gap-size;
  margin-bottom: @hlt-medium-gap-size;
}

h1 {
  color: rgb(0, 0, 25);
  font-size: 1.75rem;
  font-weight: bold;
  margin: auto;
}

h2 {
  color: rgb(50, 50, 75);
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
}

h3 {
  color: rgb(75, 75, 100);
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto;
}

h4 {
  color: rgb(75, 75, 100);
  font-size: 1.15rem;
  font-weight: bold;
  margin: auto;
}

h5 {
  color: rgb(75, 75, 100);
  font-size: 1.10rem;
  font-weight: bold;
  margin: auto;
}

h6 {
  color: rgb(75, 75, 100);
  font-size: 1.05rem;
  font-weight: bold;
  margin: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 25);
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 89);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(0, 0, 25);
}

::-webkit-scrollbar-track {
  background: rgb(75, 75, 100);
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: rgb(75, 75, 100);
}

::-webkit-scrollbar-track:active {
  background: rgb(75, 75, 100);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

////////////////////////////////////////////////////////////////////////////////
// PRIMENG /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.hlt-p-full-height {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;

  p-tabView {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  .ui-tabview {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 0px;
  }

  .ui-tabview-nav {
    flex-grow: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .ui-tabview-panels {
    flex-grow: 1;
    height: 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0 !important;
    border: none !important;
  }

  .ui-tabview-panel {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background: @hlt-panel-background !important;
    border-top: @hlt-small-gap-size solid @hlt-selection-background !important;
    padding-top: @hlt-small-gap-size !important;
    margin-top: 1px;
  }

  .ui-table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
  }

  .ui-table-scrollable-wrapper,
  .ui-table-scrollable-view,
  .ui-table-scrollable-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0px;
  }

  .ui-table-scrollable-view .ui-table-scrollable-header {
    flex-grow: 0;
  }

  .ui-table-scrollable-view .ui-table-scrollable-body {
    flex-grow: 1;
    height: 0px;
    background: rgb(50, 50, 75);
  }
}

.ui-tooltip {
  z-index: @zindex-tooltip !important;
}

.ui-toast {
  z-index: @zindex-toast !important;
}

.ui-sidebar {
  z-index: @zindex-sidebar !important;
}

.ui-sidebar-mask {
  z-index: @zindex-glass-pane !important;
}

.ui-blockui {
  z-index: @zindex-glass-pane !important;
}

.ui-blockui-document {
  z-index: @zindex-screen-lock !important;
}

////////////////////////////////////////////////////////////////////////////////
// UTILS ///////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.hlt-fill-parent {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-grow: 1;
}

.hlt-placeholder {
  box-sizing: border-box;

  background: rgb(204, 204, 204);

  border-radius: 2px;
  border-width: thin;
  border-color: @hlt-panel-outline-color;
  border-style: solid;
  padding: 25px;
}

.hlt-group {
  box-sizing: border-box;

  border-radius: 2px;
  border-width: thin;
  border-color: @hlt-panel-outline-color;
  border-style: solid;
  padding: 25px;
}

.hlt-panel-root {
  display: flex;
  flex-direction: column;

  pointer-events: all !important;

  padding: 25px;
  padding-top: 0px;
}

.hlt-panel-header {
  flex-grow: 0;

  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hlt-panel-body {
  flex-grow: 1;

  overflow-y: auto;
  overflow-x: hidden;
}

.hlt-panel-footer {
  flex-grow: 0;

  border-top-style: solid;
  border-top-width: thin;
  border-top-color: @hlt-panel-outline-color;
  margin-top: @hlt-medium-gap-size;
  padding-top: @hlt-medium-gap-size;
  text-align: right;
}

.hlt-console {
  color: rgb(0, 255, 0);
  background: rgb(50, 50, 75);

  padding: 25px;

  overflow-y: auto;
  overflow-x: hidden;
}

.hlt-button-panel {
  display: flex;
  flex-direction: row;
}

.hlt-button-panel button {
  flex-grow: 1;
  width: 0px;
}

.hlt-button-panel button:nth-child(n + 2) {
  margin-left: @hlt-small-gap-size;
}

.hlt-button-panel button i {
  vertical-align: middle;
}

.hlt-button {
  -webkit-appearance: none;

  font-size: 1.10rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(75, 75, 100);
  padding: 5px;
  margin: 0px;

  border-radius: 2px;
  border: 2px solid rgba(75, 75, 100, .85);

  cursor: pointer;
}

.hlt-button:hover {
  filter: brightness(125%);
}

.hlt-button:active {
  filter: brightness(85%);
  color: rgb(255, 255, 255);
}

.hlt-button:focus {
  outline: none;
}

.hlt-input-button {
  -webkit-appearance: none;

  width: 100%;
  height: 2.5rem;

  font-size: 14px;
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  padding: 5px;
  margin: 0px;

  border-radius: 3px;
  border: 1px solid rgb(166, 166, 166);

  cursor: pointer;
}

.hlt-input-button:hover {
  border-color: rgb(0, 0, 0);
}

.hlt-input-button:active {
  filter: brightness(125%);
}

.hlt-icon-button {
  -webkit-appearance: none;

  width: 2.5rem;
  height: 2.5rem;

  font-size: 1.25rem;
  background: transparent;
  padding: 5px;
  margin: 0px;

  border: none;

  cursor: pointer;
}

.hlt-icon-button:hover {
  filter: brightness(125%);
}

.hlt-icon-button:active {
  filter: brightness(85%);
}

.hlt-icon-button:focus {
  outline: none;
}

.hlt-button input[type='file'] {
  display: none;
  visibility: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// OVERLAY /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.cdk-overlay-container {
  z-index: @zindex-modal-backdrop;
}

////////////////////////////////////////////////////////////////////////////////
// DIALOG //////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.hlt-dialog {
  position: absolute;

  background: @hlt-panel-background;

  z-index: @zindex-modal;
  pointer-events: none !important;

  border-radius: 2px;
  border-width: thin;
  border-color: @hlt-panel-border-color;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.25rem 0.25rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hlt-dialog-root {
  display: flex;
  flex-direction: column;

  pointer-events: all !important;

  min-width: 256px;
  min-height: 144px;

  padding: 15px;
  padding-top: 0px;
}

.hlt-dialog-header {
  flex-grow: 0;

  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hlt-dialog-body {
  flex-grow: 1;

  overflow-y: auto;
  overflow-x: hidden;
}

.hlt-dialog-footer {
  flex-grow: 0;

  border-top-style: solid;
  border-top-width: thin;
  border-top-color: @hlt-panel-outline-color;
  margin-top: @hlt-medium-gap-size;
  padding-top: @hlt-medium-gap-size;
  text-align: right;
}

.hlt-dialog-backdrop {
  z-index: @zindex-modal-backdrop;
  background: rgba(0, 0, 0, 0.5);
}

////////////////////////////////////////////////////////////////////////////////
// VIEW CARD ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.hlt-view {
  position: relative;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  width: 750px;
  min-width: 750px;
  max-width: 750px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  left: 50%;
  transform: translateX(-50%);
}

.hlt-view.wide {
  position: relative;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.hlt-view-header {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

////////////////////////////////////////////////////////////////////////////////
// CATALOG /////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.hlt-catalog {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.hlt-catalog-index {
  color: #fff;
  background: #333; // rgb(0, 50, 76);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  padding: 15px;
}

.hlt-catalog-index-header {
  box-sizing: border-box;

  flex-grow: 0;

  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hlt-catalog-index-header h1,
.hlt-catalog-index-header h2,
.hlt-catalog-index-header h3,
.hlt-catalog-index-header h4,
.hlt-catalog-index-header h5,
.hlt-catalog-index-header h6 {
  color: white;
}

.hlt-catalog-index-body {
  flex-grow: 1;

  box-sizing: border-box;

  overflow-y: auto;
}

.hlt-catalog-index-footer {
  flex-grow: 0;

  box-sizing: border-box;

  margin-top: 15px;
}

.hlt-catalog-card {
  background: rgb(255, 255, 255);

  box-sizing: border-box;

  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;

  padding: 15px;
}

////////////////////////////////////////////////////////////////////////////////
// MATERIAL ICONS //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.65);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.3);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
