<div class="hlt-catalog" style="overflow-y: scroll; background:#004968;">

    <div style="width:100%; margin:auto; margin-top:0px; min-height:100vh; text-align:center; padding: 25px 50px 50px 25px;background:#FFFFFF; box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .1);">
        <h1 style="margin-top:10vh; font-size: 80px;">HLT Webpage</h1>
        <input (keydown)="this.submitSearchQuery($event);" [(ngModel)]="searchForm.getField('query').value"
               class="x-query-box"
               id="inputQuerySearch"
               placeholder="Enter the name of a particle, dataset, path, or seed..."
               style="width:60%; margin-bottom:15px; margin-top:50px; height:50px;padding-top:7px; padding-bottom:7px; font-size:25px;"
               type="text">
        <button (click)="this.submitSearchQuery({key:'Enter'});" class="x-submit-button"
                style="width:50px; height:50px; background-color:#FFFFFF; border:none;"><i
                class="material-icons md-dark md-36">search</i></button>
        <p style="margin-bottom:50px;">This tool will search through a database of HLT datasets and paths to find <br>
            options that match your search query.</p>
        <h2 *ngIf="(datasetLoading+pathLoading+seedLoading == 0)">Common Queries</h2>
        <div *ngIf="(datasetLoading+pathLoading+seedLoading == 0)"
             style="width:400px; max-width:80vw; margin:auto; display: flex; justify-content: space-between;">
            <div class="x-query-link-div">
                <div (click)="submitCommonQuery(q);" *ngFor="let q of commonDatasetQueries" class="x-query-link">
                    {{q}}
                </div>
            </div>
            <div class="x-query-link-div">
                <div (click)="submitCommonQuery(q);" *ngFor="let q of commonPathQueries" class="x-query-link">
                    {{q}}
                </div>
            </div>
            <div class="x-query-link-div">
                <div (click)="submitCommonQuery(q);" *ngFor="let q of commonSeedQueries" class="x-query-link">
                    {{q}}
                </div>
            </div>
        </div>
        <div *ngIf="(datasetLoading+pathLoading+seedLoading != 0)"
             style="width:80%; margin:auto; display: flex; justify-content: space-between;">
            <div class="spec-search-buttons"><i class="material-icons md-48">list</i><br>
                <h2 style="color:#FFFFFF; margin-bottom:15px;">Datasets</h2>
                <i *ngIf="(datasetLoading < 1 && datasetLoading > 0)" class="material-icons md-48 loading"
                   pTooltip="Loading...">cached</i>

                <div (click)="datasetRedirect(entry.name)" *ngFor="let entry of datasetResults; let index=index;"
                     class="spec-search-elements" style="background:{{getBackground(index)}}">
                    {{entry.name}}
                </div>
            </div>
            <div class="spec-search-buttons"><i class="material-icons md-48">alt_route</i><br>
                <h2 style="color:#FFFFFF;margin-bottom:15px;">Paths</h2>
                <i *ngIf="(pathLoading < 1 && pathLoading > 0)" class="material-icons md-48 loading"
                   pTooltip="Loading...">cached</i>

                <div (click)="pathRedirect(entry.name)" *ngFor="let entry of pathResults; let index=index;"
                     class="spec-search-elements" style="background:{{getBackground(index)}}">
                    {{entry.name}}
                </div>
            </div>
            <div class="spec-search-buttons"><span class="material-icons md-48">grain</span><br>
                <h2 style="color:#FFFFFF;margin-bottom:15px;">Seeds</h2>
                <i *ngIf="(seedLoading < 1 && seedLoading > 0)" class="material-icons md-48 loading"
                   pTooltip="Loading...">cached</i>

                <div (click)="copyToClipboard(entry.name)" *ngFor="let entry of seedResults; let index=index;"
                     class="spec-search-elements" style="background:{{getBackground(index)}}">
                    {{entry.name}}
                </div>
            </div>
        </div>
    </div>
</div>
