.x-description {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 25px;
}

.x-bulleted {
  padding-left: 25px;
  font-size: 18px;
  margin-bottom: 0px;
}

.x-bulleted-description {
  padding-left: 50px;
  font-size: 12px;
  margin-top: 0px;
}

.x-submit-button {
  -webkit-appearance: none;

  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: rgb(49, 49, 49);

  border: none;
  border-radius: 2px;
  border: 2px solid rgba(49, 49, 49, 255);

  cursor: pointer;
}

.x-submit-button:hover {
  filter: brightness(125%);
}

.x-submit-button:active {
  filter: brightness(85%);
  color: rgb(255, 255, 255);
}

.x-query-link-div {
  text-decoration: underline;
  font-style: italic;
}

.x-query-link {
  cursor: pointer;
  margin-top: .5em;
  margin-bottom: .5em;
}

.spec-search-buttons {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .1);
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgba(0, 73, 104, .8);
  color: #FFFFFF;
  width: 32%;
  max-height: 40vh;
  overflow: scroll;
}

.spec-search-elements {
  width: 100%;
  height: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 20px;
  cursor: pointer;
}

.spec-search-elements:hover {
  color: #AAAAAA;
}

.bounce {
  animation: bounce 500ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loading {
  animation: loading 1s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

