@import "../../../constants.less";

:host /deep/ .ui-message {
  margin-top: 5px;
}

.x-form-field-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.x-form-field-error {
  padding: @hlt-small-gap-size;
  color: rgb(255, 0, 0);
  font-size: 1.0rem;
}

textarea {
  height: 250px;
  min-height: 250px;
  max-height: 250px;

  resize: none;
  right-padding: 15px;

  overflow-y: scroll;
}
