<ng-container *ngFor="let field of model.fields">

    <ng-container *ngIf="field.editor.name === 'input'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <input [(ngModel)]="form.getField(field.name).input" [attr.type]="field.editor.type"
                       autocomplete="{{field.editor.autocomplete}}"
                       class="form-control" id="{{'input-field-' + field.name}}" name="{{'input-field-' + field.name}}"
                       pInputText placeholder="{{field.editor.placeholder}}">
                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'textarea'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <div class="x-form-field-textarea-container">
                    <textarea [(ngModel)]="form.getField(field.name).input" [cols]="30" [rows]="5" autoResize="true"
                              id="{{'input-field-' + field.name}}"
                              name="{{field.name}}" pInputTextarea
                              style="width: 100%">
                    </textarea>
                </div>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'calendar'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <p-calendar [(ngModel)]="form.getField(field.name).input" [style]="{width: '100%'}"
                            dateFormat="dd/mm/yy">
                </p-calendar>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'markdown'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <div class="x-form-field-textarea-container">
                    <textarea [(ngModel)]="form.getField(field.name).input" [cols]="30" [rows]="5" autoResize="true"
                              id="{{'input-field-' + field.name}}"
                              name="{{field.name}}" pInputTextarea
                              style="width: 100%">
                    </textarea>
                </div>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'list'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <p-listbox [(ngModel)]="form.getField(field.name).input" [checkbox]="field.editor.multiple"
                           [filter]="true" [multiple]="field.editor.multiple"
                           [options]="field.editor.options"
                           id="{{'input-field-' + field.name}}">
                </p-listbox>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'combobox'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <p-dropdown [(ngModel)]="form.getField(field.name).input" [options]="field.editor.options"
                            id="{{'input-field-' + field.name}}"
                            name="{{field.name}}">
                </p-dropdown>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'radio'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <fieldset>
                    <div *ngFor="let option of field.editor.options; let index = index" class="form-check">
                        <input [(ngModel)]="form.getField(field.name).input" [attr.checked]="option.checked"
                               class="form-check-input"
                               id="{{'input-field-' + field.name + '-' + index}}" name="{{field.name}}"
                               type="radio"
                               value="{{option.value}}">

                        <label class="form-check-label" for="{{'input-field-' + field.name + '-' + index}}">
                            {{option.label}}
                        </label>
                    </div>
                </fieldset>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'checkbox'">
        <div class="form-group row mt-2">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <div class="text-right">
                    <p-checkbox [(ngModel)]="form.getField(field.name).input" binary="true"
                                label="{{field.label}}"></p-checkbox>
                </div>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'address'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <app-address-input [(ngModel)]="form.getField(field.name).input"></app-address-input>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="field.editor.name === 'legal-address'">
        <div class="form-group row">
            <h6 class="col-sm-2 mr-1">
                <strong>{{field.label}}</strong>
            </h6>
            <div class="col-sm">
                <app-legal-address-input [(ngModel)]="form.getField(field.name).input"></app-legal-address-input>

                <p-message *ngIf="!form.getField(field.name).valid" severity="error"
                           text="{{form.getField(field.name).error}}">
                </p-message>
            </div>
        </div>
    </ng-container>

</ng-container>
